@import "fonts";

$main-font: 'Lato', sans-serif;
$second-font: 'Geometria', sans-serif;
$size: 14px;
$black: #3A3A3A;
$grey: #A9A9A9;
$green: #23514C;

$light-c7: #c7c7c7;
body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  font-size: $size;
  //overflow-x: hidden;
  //background: $black;
  //scroll-behavior: smooth;
  //&.no-scroll {
  //  overflow: hidden;
  //}

}

body {
  //overflow-x: hidden;
  max-width: 100%;

  &.fixed {
    position: fixed;
  }
}

* {
  letter-spacing: 0;
  //font-family: $main-font;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}


.container {
  width: 100%;
  max-width: 1332px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-little {
  width: 100%;
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.big-container {
  width: 100%;
  max-width: 1872px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden;
  }
}


.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}


.wrapper,
body {
  height: auto;
}

main {
  flex-grow: 1;
  //overflow: hidden;

  display: flex;
  flex-direction: column;
  //transition: padding-top 0.4s ease;


}


p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #FAFAFA;

}
* {
  outline: none;
  box-sizing: border-box;
  font-family: $main-font;
}

::-webkit-scrollbar-thumb {
  background: $green;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 4px;
}



.btn {
  text-decoration: none;
  outline: none;
  padding: 10px 19px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
  /* identical to box height, or 154% */
  font-family: $second-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  border-radius: 4px;
  &:hover {
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;

  }

  &--green {
    background: $green;
    border: 1px solid $green;
    color: #fff;
    &:hover {
      color: $green;
      background: #fff;
    }

  }
  &--white {
    background: #fff;
    color: #3A3A3A;
    border: none;
    padding: 11px 45px;
    &:hover {
      color: #fff;
      background: $green;
    }

  }
  &--orange {
    background: #E0C18D;
    color: #fff;
    border: 1px solid #E0C18D;
    padding: 11px 45px;
    &:hover {
      color: #E0C18D;
      background: #fff;
    }

  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.slides-btn {
  width: 20px;
  padding: 1px;
  box-sizing: border-box;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  &.swiper-button-disabled {
    opacity: 0.5;
  }
  svg {
    width: 100%;
    height: auto;
    path {
      stroke: #3A3A3A;

    }
  }
  &--next {
    svg {
      transform: rotate(180deg);
    }
  }
  &:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
  }
}
.backplate-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  &.visible {
    pointer-events: auto;
    opacity: 1;
  }
}

.play-video {
  padding-left: 56px;
  position: relative;
  &::before {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: url("../img/play-icon.svg") no-repeat center / 13px, #E0C18D;
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 0 1px 9px rgba(294, 193, 141, 0.3);
    transition: box-shadow 0.3s ease, background-color 0.3s ease, background-size 0.3s ease;
  }

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: $second-font;
  cursor: pointer;

  transition: color 0.3s ease;

  &.white {
    color: #FFFFFF;
  }
  &:hover {
    transition: color 0.3s ease;

    &.white {
      color: #E0C18D;
    }
    &::before {
      box-shadow: 0 0 7px 4px rgba(294, 193, 141, 0.3);
      transition: box-shadow 0.3s ease, background-color 0.3s ease, background-size 0.3s ease;
    }
  }
}

.booking {
  width: 100%;

}
.booking__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -50%);
  z-index: 2;
  position: relative;

  background: #FFFFFF;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 24px 30px;
  box-sizing: border-box;
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 9%;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #3A3A3A;
      margin-bottom: 5px;
    }
    span {
      font-family: $second-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #A9A9A9;
    }
  }
}
.booking-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px 30px;
  flex-grow: 1;
}

.booking-input {
  position: relative;
  border: 1px solid #E8E4DE;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 3px 30px 3px 10px;
  height: 42px;
  width: 110px;
  .over {
    width: 100%;
    height: 100%;
    position: relative;
    span {
      font-family: $second-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.05em;
      color: #A9A9A9;
    }
    &::after {
      width: 18px;
      height: 18px;
      display: inline-block;
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(0, -50%);
      background: url("../img/hum-ic.svg") no-repeat center / 100%;

    }

  }
  &.date {
    width: auto;
    flex-grow: 1;
    .over {
      &::after {
        background: url("../img/cale-ic.svg") no-repeat center / 100%;
      }
    }
  }
  input {
    display: flex;
    align-items: flex-end;
    position: absolute !important;
    background: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 30px 3px 10px;
    border: none;
    outline: none;
    vertical-align: bottom;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #3A3A3A;
    font-family: $second-font;
    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #3A3A3A;
      font-family: $second-font;
    }
  }
}

@import 'header';
@import 'hero-slider';
@import "modal";
@import "l-gallery";
@import "media";
